<div class="row section topspace">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p>Get involved <b>today</b>. We have launched the KIWI token to power all of our projects as well
                  as make donations to various causes that our community believes in. You can mine your own KIWI today.
                </p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="kiwi" class="btn btn-primary btn-lg">Find out more</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->
