<main id="main">

	<div class="container">

        {{ if .Site.Params.showSubheader }}
            {{ partial "subheader.html" . }}
        {{ end }}

				{{ if .Site.Params.showIntroduction }}
            {{ partial "introduction.html" . }}
        {{ end }}

				{{ if .Site.Params.showCallToAction }}
            {{ partial "findoutmore-kiwi.html" . }}
        {{ end }}

        {{ if .Site.Params.showProjects}}
            {{ partial "projects.html" . }}
        {{ end }}

        {{ if .Site.Params.showRecentWorks }}
            {{ partial "recentworks.html" . }}
        {{ end }}

        {{ if .Site.Params.showDownload }}
            {{ partial "download.html" . }}
        {{ end }}

        {{ if .Site.Params.showPartners }}
            {{ partial "partners.html" . }}
        {{ end }}

	</div>	<!-- /container -->

</main>
